pandas
numpy
scipy
scikit-learn
umap-learn
transformers
matplotlib
ipykernel
nbformat
torchvision
memory_profiler
setuptools
scanpy
openai
scikit-image
igraph
leidenalg
xlsxwriter
plotly
imbalanced-learn
tensorflow-macos
tensorflow-metal

